<div fxFill fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="30" fxFlex.md="50" fxFlex.xs="80" class="mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>Kart Admin Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #loginForm="ngForm" (submit)="login()">
        <mat-form-field fxFill>
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
          <mat-error>
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFill>
          <mat-icon matSuffix="">lock</mat-icon>
          <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          <mat-error>
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.form.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
