<div fxFill fxLayout="row" fxLayoutAlign="space-evenly center">
  <mat-card fxFlex="70">
    <mat-card-header>
      <mat-card-title>Companies</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-table [dataSource]="companiesDataSource" matSort matSortActive="creationDate" matSortDisableClear
                 matSortDirection="desc">

        <ng-container cdkColumnDef="name">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Name</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.name}}</mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="vat">
          <mat-header-cell *cdkHeaderCellDef> Vat </mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.vat}}</mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="phone">
          <mat-header-cell *cdkHeaderCellDef> Phone </mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.phone}}</mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="email">
          <mat-header-cell *cdkHeaderCellDef> Email </mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.email}}</mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="creationDate">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header> Created At </mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.creationDate | date:'d/M/yy H:mm':'UTC'}}</mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="lastLoginDate">
          <mat-header-cell *cdkHeaderCellDef> Last Login </mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.lastLoginDate | date:'d/M/yy H:mm':'UTC'}}</mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="enabled">
          <mat-header-cell *cdkHeaderCellDef> Enabled </mat-header-cell>
          <mat-cell *cdkCellDef="let row">
            <mat-slide-toggle color="primary" [checked]="row.enabled"></mat-slide-toggle>
          </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[this.pageSize, this.pageSize * 2, this.pageSize * 4]"
                     showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>

